<a href="https://colab.research.google.com/github/shivaajay4368/volume-control-using-hand-gestures/blob/main/Assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<a href="https://www.viharatech.com"><img src="https://miro.medium.com/v2/resize:fit:828/format:webp/1*on2Bpj6A5gfd-CzaFOAZRA.jpeg"></a>


- `Welcome to our interactive learning session! In this Jupyter notebook, you'll find a series of questions related to Python Concept. To maximize your learning, please write Python code in the cell below each question and execute it. This hands-on practice will help reinforce your understanding of the concepts. Feel free to reach out if you have any questions or need assistance. Happy coding! 💻🐍 `

## Question 1

- `Take two integer numbers and return their product. If the product is greater than 1000, then return their sum if product is less than 1000 return product value only.`

In [ ]:
# Please write The solution Here for above question 1:

a=300
b=50
c=a*b
if c>1000 :
  print(a+b)
else:
  print(c)

350

## question 2

- `Given a range of the first 10 numbers, Iterate from the start number to the end number, and In each iteration print the sum of the current number and previous number`

Expected output:
-----------------
    Printing current and previous number sum in a range(10)
    Current Number 0 Previous Number  0  Sum:  0
    Current Number 1 Previous Number  0  Sum:  1
    Current Number 2 Previous Number  1  Sum:  3
    Current Number 3 Previous Number  2  Sum:  5
    Current Number 4 Previous Number  3  Sum:  7
    Current Number 5 Previous Number  4  Sum:  9
    Current Number 6 Previous Number  5  Sum:  11
    Current Number 7 Previous Number  6  Sum:  13
    Current Number 8 Previous Number  7  Sum:  15
    Current Number 9 Previous Number  8  Sum:  17

In [51]:
# Please write The solution Here for above question 2:
for i in range (10):
  d=i
  if d==0:
    print(f'current_number {d} previous_number {d} sum {d+d}')
  else:
    print((f'current_number {d} previous_number {d-1} sum {d+(d-1)}'))

current_number 0 previous_number 0 sum 0
current_number 1 previous_number 0 sum 1
current_number 2 previous_number 1 sum 3
current_number 3 previous_number 2 sum 5
current_number 4 previous_number 3 sum 7
current_number 5 previous_number 4 sum 9
current_number 6 previous_number 5 sum 11
current_number 7 previous_number 6 sum 13
current_number 8 previous_number 7 sum 15
current_number 9 previous_number 8 sum 17

## question 3

Given a string and an integer number n, remove characters from a string starting from zero up to n and return a new string

- Example :
     `("pynative", 4) so output must be tive.`
     
     `Note: n must be less than the length of the string.`

In [ ]:
# Please write The solution Here for above question 3:
n=3
a=("shivaajay")
print(a[n: :])

vaajay

## question 4

### `Given a list of numbers, return True if first and last number of a list is same`

    Expected Output:
    -------------------------------------

    Given list is
    a =  [10, 20, 30, 40, 10]
    b = [10 , 20 , 30 , 40, 10 ]
    result is True

    Given list is  
    a = [10, 20, 30, 40, 50]
    b = [11 , 21 , 31 , 41 , 51 ]
    result is False

In [ ]:
# Please write The solution Here for above question 4:
a=[21,22,23,24,25,126]
if a[0] == a[-1]:
  print("True")
else:
  print('false')

false

## question 5

### Given a two Python list. Iterate both lists simultaneously such that list1 should display item in original order and list2 in reverse order

    list1 = [10, 20, 30, 40]
    list2 = [100, 200, 300, 400]


    Expected output:
    -----------------------------
    10 400
    20 300
    30 200
    40 100

In [29]:
# Please write The solution Here for above question 5:

a= [1,2,3,4,5,6]
b= [7,8,9,10,11,12]
n=0
d=-1
for i in range(len(a)):
  print(a[n],b[d])
  n=n+1
  d=d-1

1 12
2 11
3 10
4 9
5 8
6 7

### Remove empty strings from the list of strings


    list1 = ["Mike", "", "Emma", "Kelly", "", "Brad"]

    Expected output:
    ----------------------

    ["Mike", "Emma", "Kelly", "Brad"]

In [ ]:

# Please write The solution Here for above question 6:
list1 = ["Mike", "", "Emma", "Kelly", "", "Brad"]

SyntaxError: invalid syntax (<ipython-input-136-e9c18972744d>, line 6)

In [53]:
list1 = ["Mike", "", "Emma", "Kelly", "", "Brad"]
a = []

for i in list1:
    if i != "":
        a.append(i)

print(a)

['Mike', 'Emma', 'Kelly', 'Brad']

In [ ]:

a=str(list1)
print(a)
for i in a:
  if i in a.isalpha() == False:
    b=list(a)
    b.pop("")
    print(b)

['Mike', '', 'Emma', 'Kelly', '', 'Brad']

TypeError: argument of type 'bool' is not iterable

In [ ]:
g = int(input())
a = g//60
b = g%60
print(f'{a}h {b}m')

95
1h 35m